// Banner
.baneerTextBg{
    max-width: 650px;
    margin: 0 auto;
    background-color: #202020 
}

.square{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #fff;
}

.square-1{
    top: -5px;
    left: -5px;
}

.square-2{
    top: -5px;
    right: -5px;
}

.square-3{
    bottom: -5px;
    left: -5px;
}

.square-4{
    bottom: -5px;
    right: -5px;
}


    

.titleBorder{
    width: 50px;
    margin: auto;
    border-bottom: 3px solid $primary;
    
    
    @media (min-width: 992px){
        width: 70px;
    }
}


// 手把手帶你 親自到家教到會

.service {
    .card-bg{
        background-color: $dark2;
        border-radius: 12px;
    }

    .card-bg:hover {
        border: 1px solid $primary;
        transition: $btn-transition;
    }

    span {
        background: linear-gradient(180deg, $light-blue, $primary);
        background-clip: text;
        color: transparent;
    }

    @media (min-width: 768px) {
        .card-bg {
            opacity: 50%;
            background-color: transparent;
        }

        .card-bg:hover {
            opacity: 100%;
            background-color: $dark2;
            border-radius: 12px;

            span {
                background: linear-gradient(180deg, $light-blue, $primary);
                background-clip: text;
                color: transparent;
            }
        }

        span {
            background-image: none;
            color: $white;
        }
    }
}


// 預期上課流程
.flow {
    .card-num{
        font-size: 48px;
        font-weight: 700;
        line-height: 56px;
        color: $primary;
        background-color: $dark3;
        padding-left: 8px;
        padding-right: 8px;
        position: absolute;
        top: -28px;
        left: 40px;
    }
}

// 你想要學習的程式，都在這裡
.language {
    a:hover {
        background-color: transparent;
        color: $primary;
        border: 1px solid $primary;
    }
}

// 熱門推薦課程

.teacherPhoto{
    width: 100px;
    height: 100px;
}

// 四大特色

.feature{
    span , p{
        color: rgba(255, 255, 255, 0.5);
    }

    .title-line{
        width: 50px;
        margin: auto;
        border-bottom: 3px solid #FFFFFF;
        
        @media (min-width: 992px){
            width: 70px;
        }
    }

    
}

.info01{
    position: relative;
    width: 100%;
    height: 263px;
    background-image: url('../images/info01.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &:hover span {
        color: #62DB54;
    }

    &:hover p{
        color: #FFFFFF;
    }

    &:hover .title-line{
        border-bottom: 3px solid $primary;
    }

    @media (min-width: 992px){
        height: 615px;
    }
}
.info01::before{
    content: '';
    display: flex;
    justify-content: center;
    align-items: 0;
    position: absolute;
    width: 100%;
    height: 263px;
    background-color: rgba(26, 26, 26, 0.8);

    @media (min-width: 992px){
        height: 615px;
    }
}

.info02{
    position: relative;
    width: 100%;
    height: 263px;
    background-image: url('../images/info02.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &:hover span {
        color: #62DB54;
    }

    &:hover p{
        color: #FFFFFF;
    }

    &:hover .title-line{
        border-bottom: 3px solid $primary;
    }

    @media (min-width: 992px){
        height: 615px;
    }
}
.info02::before{
    content: '';
    display: flex;
    justify-content: center;
    align-items: 0;
    position: absolute;
    width: 100%;
    height: 263px;
    background-color: rgba(26, 26, 26, 0.8);
    @media (min-width: 992px){
        height: 615px;
    }
}

.info03{
    position: relative;
    width: 100%;
    height: 263px;
    background-image: url('../images/info03.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &:hover span {
        color: #62DB54;
    }

    &:hover p{
        color: #FFFFFF;
    }

    &:hover .title-line{
        border-bottom: 3px solid $primary;
    }

    @media (min-width: 992px){
        height: 615px;
    }
}
.info03::before{
    content: '';
    display: flex;
    justify-content: center;
    align-items: 0;
    position: absolute;
    width: 100%;
    height: 263px;
    background-color: rgba(26, 26, 26, 0.8);
    @media (min-width: 992px){
        height: 615px;
    }
}

.info04{
    position: relative;
    width: 100%;
    height: 263px;
    background-image: url('../images/info04.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &:hover span {
        color: #62DB54;
    }

    &:hover p{
        color: #FFFFFF;
    }

    &:hover .title-line{
        border-bottom: 3px solid $primary;
    }

    @media (min-width: 992px){
        height: 615px;
    }
}
.info04::before{
    content: '';
    display: flex;
    justify-content: center;
    align-items: 0;
    position: absolute;
    width: 100%;
    height: 263px;
    background-color: rgba(26, 26, 26, 0.8);
    @media (min-width: 992px){
        height: 615px;
    }
}

.info01:hover::before, .info02:hover::before, .info03:hover::before, .info04:hover::before{
    @media (min-width: 992px){
        background-color: rgba(85, 85, 85, 0);
    }
}
.info01-text, .info02-text, .info03-text, .info04-text{
    z-index: 1;
}

// 文章分享


// 專屬你的學習課程 超過 3000 位學員得到了 程式超能力
.share{
    @media (min-width: 992px){

        .feedback{
            position: absolute;
            max-height: 175px;
            max-width: 416px;
            bottom: -220px;
            margin-left: -24px;
            z-index: 99;
        }
    }
}

.share {
    .share-img {
        position: relative;

        img {
            position: relative;
            border-radius: 24px;
            z-index: 5;
        }
    }

    .share-card {
        display: flex;
        flex-direction: column;
        position: relative;
        color: #494755;
        background-color: $white;
        border-radius: 24px 24px 24px 0;
        padding: 32px;
        box-shadow: 0 4px 20px #49475514;
        z-index: 5;

        strong {
            font-size: 18px;
            margin-bottom: $spacer;
        }

        img {
            width: 80px;
            height: 80px;
            border-radius: 100%;
            position: absolute;
            top: -40px;
            right: 32px;
        }
    }

    @media (min-width: 768px) {
        .overlap-left {
            margin-right: -24px;
        }

        .overlap-right {
            margin-left: -24px;
            margin-bottom: -48px;
        }

        .share-bg-image {
            background-image: url('../images/bg_share.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        .share-card img {
            width: 100px;
            height: 100px;
            top: -50px;
        }

        .share-img::after {
            content: "";
            position: absolute;
            border: 1px solid #7C7E77;
            border-radius: 24px;
            width: 100%;
            height: 100%;
            top: 10px;
            right: 10px;
        }
    }
}


// 入我們成為導師
.joinColor{
    background-color: #202020;
    border-radius: 24px;
}

.rounded-8{
    border-radius: 8px; 
}

.rounded-12{
    border-radius: 12px; 
}

.rounded-24{
    border-radius: 24px; 
}

.rounded-ans{
    border-radius: 24px 24px 24px 0; 
}

.menu_book{
    font-size: 80px;
}

.btn{
    padding: 10px 30px;
}