// $gradient-text: linear-gradient(#62DB54, #09ACF5);
$gradient-line: linear-gradient(to left, #62DB54 50%, #09ACF5 50%);
$gradient-btn: linear-gradient(to right, #62DB54, #09ACF5);

.text-gradient{
    background: linear-gradient(to top, #62DB54, #09ACF5);
    background: -webkit-linear-gradient(to top, #62DB54, #09ACF5);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.border-gradient{
    width: 100%;
    height: 2px;
    background: $gradient-line;
}
.btn-gradient{
    border: none;
    color: $white;
    background: $gradient-btn;
}

.bg-dark {
    background-color: #2D2D2D !important;
}